@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: sans-serif; }

img {
  width: 10rem; }

header {
  background-color: #18122B;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  font-size: 1rem; }

.logo {
  max-width: 5rem;
  border-radius: 50%; }

.nav-list {
  list-style-type: none;
  display: flex;
  gap: 2rem; }

.nav-list li a {
  text-decoration: none;
  color: #F1F6F9;
  font-size: 1.5rem; }

.nav-list li a:hover {
  color: #635985; }

.abrir-menu,
.cerrar-menu {
  display: none; }

footer {
  background-color: #222;
  color: white;
  padding: 20px 0; }

.footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto; }

.columna {
  flex-basis: 30%;
  text-align: center; }

.columna h3 {
  font-size: 1.2em;
  margin-bottom: 1em; }

.columna ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.columna ul li {
  margin-bottom: 0.5em; }

.columna ul li a {
  color: white;
  text-decoration: none; }

.logo-footer {
  border-radius: 50%;
  width: 5rem; }

.hero {
  background-image: url("../assets/risen-wang-20jX9b35r_M-unsplash.jpg");
  background-size: cover;
  background-position: center; }

.hero {
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 2em;
  text-shadow: 1px 1px #000000; }

.titulo {
  text-align: center;
  font-size: 4em;
  color: #333;
  opacity: 0;
  transform: translateY(50%);
  transition: opacity 1s, transform 1s; }

.titulo.active {
  opacity: 1;
  transform: translateY(0); }

#gym-info {
  background-image: url("../assets/background.png");
  background-position: center;
  background-size: cover;
  height: 95vh;
  padding: 50px;
  text-align: center;
  color: #F1F6F9; }

#gym-info h2 {
  font-size: 3em;
  margin-bottom: 20px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6); }

#gym-info p {
  font-size: 1.2em;
  line-height: 1.5em;
  margin-bottom: 20px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
  padding-left: 6rem;
  padding-right: 6rem; }

#gym-info ul {
  list-style: none;
  margin-bottom: 30px;
  padding-left: 0; }

#gym-info li {
  font-size: 1.1em;
  line-height: 1.5em;
  margin-bottom: 10px; }

#gym-info li:before {
  content: "✔ ";
  color: #22a6b3;
  font-size: 1.2em;
  margin-right: 5px; }

#gym-info p:last-child {
  font-weight: bold;
  font-size: 1.1em; }

.instalaciones {
  background-color: #222;
  text-align: center;
  align-content: center; }
  .instalaciones h2 {
    font-size: 3rem;
    color: #F1F6F9;
    background-color: #222; }

.fondo-planes {
  background-image: url("../assets/background.png");
  background-position: center;
  background-size: cover;
  height: 100%;
  padding: 5px;
  text-align: center;
  color: #F1F6F9; }

.planes-ofertas {
  text-align: center;
  line-height: 2;
  padding: 2rem; }
  .planes-ofertas h2 {
    font-size: 2rem; }
  .planes-ofertas p {
    font-size: 1.2rem; }

.container-card {
  width: 100%;
  display: flex;
  max-width: 1900px;
  justify-content: space-around;
  padding: 2rem; }

.card {
  width: 70%;
  height: 60vh;
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  transition: all 400ms ease; }

.card:hover {
  box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.2);
  transform: translateY(-3%); }

.img-card {
  width: 30vw;
  height: 15vw; }

.container-card {
  padding: 15px;
  text-align: center; }
  .container-card p {
    line-height: 1.5;
    color: #6a6a6a; }
  .container-card h3 {
    font-weight: 400;
    margin-bottom: 15px;
    color: black; }
  .container-card a {
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    color: #394867;
    padding: 0.5rem;
    border: 1px solid #394867;
    border-radius: 4px;
    transition: all 400ms ease;
    box-sizing: inherit; }
  .container-card a:hover {
    background-color: #18122B;
    color: #fff; }

.fondo-contactos {
  background-image: url("../assets/background.png");
  background-position: center;
  background-size: cover;
  height: 100%;
  padding: 5px;
  text-align: center;
  color: #F1F6F9; }

.redes-sociales {
  text-align: center;
  line-height: 2;
  padding: 2rem; }
  .redes-sociales h2 {
    font-size: 2rem; }
  .redes-sociales p {
    font-size: 1.2rem; }

.container-red {
  width: 100%;
  display: flex;
  max-width: 1900px;
  justify-content: space-evenly;
  padding: 2rem; }

.card-red {
  width: 18vw;
  height: 60vh;
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  transition: all 400ms ease; }

.card-red:hover {
  box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.2);
  transform: translateY(-3%); }

.img-red {
  width: 18vw;
  height: 27vh; }

.container-red {
  padding: 15px;
  text-align: center; }
  .container-red p {
    line-height: 1.5;
    color: #6a6a6a; }
  .container-red h3 {
    font-weight: 400;
    margin-bottom: 15px;
    color: black;
    font-size: 1.5rem; }
  .container-red a {
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    color: black;
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 4px;
    transition: all 400ms ease;
    box-sizing: inherit; }
  .container-red a:hover {
    background-color: black;
    color: #F1F6F9; }

.fondo-grid {
  background-image: url("../assets/background.png");
  background-position: center;
  background-size: cover;
  height: 130vh;
  width: 100%;
  padding: 5px;
  text-align: center;
  color: #F1F6F9;
  align-content: center; }

.Grid-tienda {
  padding: 1rem;
  justify-content: center;
  width: 95vw;
  display: grid;
  grid-template: repeat(2, 70vh)/repeat(2, 20vh);
  column-gap: 15vw;
  row-gap: 0; }

.articuloVenta {
  height: 30vh;
  width: 20vw;
  border-radius: 5%; }

.CardArticulo:hover {
  box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.2);
  transform: translateY(-3%); }

.CardArticulo {
  background-color: white;
  height: 50vh;
  width: 20vw;
  display: grid;
  place-items: center;
  text-align: center;
  border-radius: 0;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  transition: all 400ms ease;
  border-radius: 25px; }
  .CardArticulo h2 {
    color: black; }
  .CardArticulo p {
    color: #6a6a6a; }

.boton-compra {
  text-decoration: none;
  color: black;
  border: 2px solid black;
  border-radius: 10px;
  padding: 1rem; }

.boton-compra:hover {
  color: #F1F6F9;
  background-color: black; }

@media screen and (max-width: 1024px) {
  /*Menu Hamburguesa*/
  .abrir-menu,
  .cerrar-menu {
    display: block;
    border: 0;
    font-size: 1.25rem;
    background-color: transparent;
    cursor: pointer; }
  .abrir-menu {
    color: #F1F6F9;
    width: 3rem; }
  .cerrar-menu {
    color: #F1F6F9; }
  .nav {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: solid #000 1px;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    background-color: #1c1c1c; }
  .nav.visible {
    opacity: 1;
    visibility: visible; }
  .nav-list {
    flex-direction: column;
    align-items: end; }
  /*Planes*/
  .fondo-planes {
    background-image: url(../assets/fitnes/backgroundPhone.jpg); }
  .container-card {
    flex-direction: column;
    width: 100%;
    align-items: center; }
    .container-card .card {
      height: 60vh; }
    .container-card .img-card {
      width: 70vw;
      height: 40vh; }
  /*Contactos*/
  .fondo-contactos {
    background-image: url(../assets/fitnes/backgroundPhone.jpg);
    background-size: cover;
    height: 170vh; }
  .container-red {
    flex-direction: column;
    align-items: center; }
    .container-red .card-red {
      display: flex;
      width: 40vw;
      height: 27vh; }
  /* tienda*/
  .fondo-grid {
    background-image: url(../assets/fitnes/backgroundPhone.jpg); }
  .Grid-tienda {
    column-gap: 8vw;
    font-size: 0.8rem; } }

@media screen and (max-width: 768px) {
  /*Menu Hamburguesa*/
  .abrir-menu,
  .cerrar-menu {
    display: block;
    border: 0;
    font-size: 1.25rem;
    background-color: transparent;
    cursor: pointer; }
  .abrir-menu {
    color: #F1F6F9;
    width: 3rem; }
  .cerrar-menu {
    color: #F1F6F9; }
  .nav {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: solid #000 1px;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    background-color: #1c1c1c; }
  .nav.visible {
    opacity: 1;
    visibility: visible; }
  .nav-list {
    flex-direction: column;
    align-items: end; }
  /*planes*/
  .container-red {
    display: flex;
    flex-direction: column-reverse; }
    .container-red .card {
      height: 30vh; }
  /*contactanos*/
  .container-red {
    flex-direction: column;
    justify-items: center;
    align-items: center; }
  .card-red {
    height: 45vh;
    width: 20vw; }
    .card-red .img-red {
      width: 20vw; }
  /* tienda*/
  .Grid-tienda {
    column-gap: 4vw;
    font-size: 0.8rem;
    grid-template: repeat(2, 70vh)/repeat(2, 30vw);
    width: 100%; }
    .Grid-tienda .CardArticulo {
      height: 60vh;
      width: 30vw; }
  .fondo-grid {
    height: 150vh;
    background-image: url(../assets/fitnes/backgroundPhone.jpg); } }

@media screen and (max-width: 425px) {
  /*Menu Hamburguesa*/
  .abrir-menu,
  .cerrar-menu {
    display: block;
    border: 0;
    font-size: 1.25rem;
    background-color: transparent;
    cursor: pointer; }
  .abrir-menu {
    color: #F1F6F9;
    width: 3rem; }
  .cerrar-menu {
    color: #F1F6F9; }
  .nav {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: solid #000 1px;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    background-color: #1c1c1c; }
  .nav.visible {
    opacity: 1;
    visibility: visible; }
  .nav-list {
    flex-direction: column;
    align-items: end; }
  /*index*/
  .hero h1 {
    font-size: 4rem; }
  footer {
    font-size: 1rem; }
  /*Sobre Nosotros*/
  #gym-info {
    height: 100vh;
    padding: 0.5rem; }
    #gym-info h2 {
      font-size: 1.5rem; }
    #gym-info p {
      font-size: 1rem; }
    #gym-info li {
      font-size: 1rem; }
  .instalaciones h2 {
    font-size: 1.5rem; }
  /*Planes*/
  .container-card .card {
    height: 45vh;
    width: 50vw; }
    .container-card .card .img-card {
      width: 50vw;
      height: 20vh; }
  /*Contactanos*/
  .redes-sociales h2 {
    font-size: 1.5rem; }
  .redes-sociales p {
    font-size: 1rem; }
  .container-red .card-red {
    width: 70vw;
    height: 20vh; }
    .container-red .card-red .img-red {
      height: 15vh; }
  /*Tienda*/
  .fondo-grid {
    height: 300vh;
    background-image: url(../assets/fitnes/backgroundPhone.jpg);
    background-size: cover; }
    .fondo-grid .Grid-tienda {
      grid-template: repeat(4, 70vh)/repeat(1, 30vw);
      justify-items: center;
      padding: 2rem; }
      .fondo-grid .Grid-tienda .CardArticulo {
        width: 50vw; }
        .fondo-grid .Grid-tienda .CardArticulo .articuloVenta {
          width: 50vw; } }
