@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: sans-serif; }

img {
  width: 10rem; }

header {
  background-color: #18122B;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  font-size: 1rem; }

.logo {
  max-width: 5rem;
  border-radius: 50%; }

.nav-list {
  list-style-type: none;
  display: flex;
  gap: 2rem; }

.nav-list li a {
  text-decoration: none;
  color: #F1F6F9;
  font-size: 1.5rem; }

.nav-list li a:hover {
  color: #635985; }

.abrir-menu,
.cerrar-menu {
  display: none; }

footer {
  background-color: #222;
  color: white;
  padding: 20px 0; }

.footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto; }

.columna {
  flex-basis: 30%;
  text-align: center; }

.columna h3 {
  font-size: 1.2em;
  margin-bottom: 1em; }

.columna ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.columna ul li {
  margin-bottom: 0.5em; }

.columna ul li a {
  color: white;
  text-decoration: none; }

.logo-footer {
  border-radius: 50%;
  width: 5rem; }

.hero {
  background-image: url("../assets/risen-wang-20jX9b35r_M-unsplash.jpg");
  background-size: cover;
  background-position: center; }

.hero {
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 2em;
  text-shadow: 1px 1px #000000; }

.titulo {
  text-align: center;
  font-size: 4em;
  color: #333;
  opacity: 0;
  transform: translateY(50%);
  transition: opacity 1s, transform 1s; }

.titulo.active {
  opacity: 1;
  transform: translateY(0); }

#gym-info {
  background-image: url("../assets/background.png");
  background-position: center;
  background-size: cover;
  height: 95vh;
  padding: 50px;
  text-align: center;
  color: #F1F6F9; }

#gym-info h2 {
  font-size: 3em;
  margin-bottom: 20px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6); }

#gym-info p {
  font-size: 1.2em;
  line-height: 1.5em;
  margin-bottom: 20px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
  padding-left: 6rem;
  padding-right: 6rem; }

#gym-info ul {
  list-style: none;
  margin-bottom: 30px;
  padding-left: 0; }

#gym-info li {
  font-size: 1.1em;
  line-height: 1.5em;
  margin-bottom: 10px; }

#gym-info li:before {
  content: "✔ ";
  color: #22a6b3;
  font-size: 1.2em;
  margin-right: 5px; }

#gym-info p:last-child {
  font-weight: bold;
  font-size: 1.1em; }

.instalaciones {
  background-color: #222;
  text-align: center;
  align-content: center; }
  .instalaciones h2 {
    font-size: 3rem;
    color: #F1F6F9;
    background-color: #222; }

.fondo-planes {
  background-image: url("../assets/background.png");
  background-position: center;
  background-size: cover;
  height: 100%;
  padding: 5px;
  text-align: center;
  color: #F1F6F9; }

.planes-ofertas {
  text-align: center;
  line-height: 2;
  padding: 2rem; }
  .planes-ofertas h2 {
    font-size: 2rem; }
  .planes-ofertas p {
    font-size: 1.2rem; }

.container-card {
  width: 100%;
  display: flex;
  max-width: 1900px;
  justify-content: space-around;
  padding: 2rem; }

.card {
  width: 70%;
  height: 60vh;
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  transition: all 400ms ease; }

.card:hover {
  box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.2);
  transform: translateY(-3%); }

.img-card {
  width: 40rem;
  height: 20rem; }

.container-card {
  padding: 15px;
  text-align: center; }
  .container-card p {
    line-height: 1.5;
    color: #6a6a6a; }
  .container-card h3 {
    font-weight: 400;
    margin-bottom: 15px;
    color: black; }
  .container-card a {
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    color: #394867;
    padding: 0.5rem;
    border: 1px solid #394867;
    border-radius: 4px;
    transition: all 400ms ease;
    box-sizing: inherit; }
  .container-card a:hover {
    background-color: #18122B;
    color: #fff; }

.fondo-contactos {
  background-image: url("../assets/background.png");
  background-position: center;
  background-size: cover;
  height: 100%;
  padding: 5px;
  text-align: center;
  color: #F1F6F9; }

.redes-sociales {
  text-align: center;
  line-height: 2;
  padding: 2rem; }
  .redes-sociales h2 {
    font-size: 2rem; }
  .redes-sociales p {
    font-size: 1.2rem; }

.container-red {
  width: 100%;
  display: flex;
  max-width: 1900px;
  justify-content: space-evenly;
  padding: 2rem; }

.card-red {
  width: 18vw;
  height: 60vh;
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  background-color: #18122B;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  transition: all 400ms ease; }

.card-red:hover {
  box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.2);
  transform: translateY(-3%); }

.img-red {
  width: 100%;
  height: 20rem; }

.container-red {
  padding: 15px;
  text-align: center; }
  .container-red p {
    line-height: 1.5;
    color: #6a6a6a; }
  .container-red h3 {
    font-weight: 400;
    margin-bottom: 15px;
    color: #F1F6F9;
    font-size: 1.5rem; }
  .container-red a {
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    color: #F1F6F9;
    padding: 0.5rem;
    border: 1px solid #F1F6F9;
    border-radius: 4px;
    transition: all 400ms ease;
    box-sizing: inherit; }
  .container-red a:hover {
    background-color: #F1F6F9;
    color: #000000; }

.fondo-grid {
  background-image: url("../assets/background.png");
  background-position: center;
  background-size: cover;
  height: 90vh;
  width: 100%;
  padding: 5px;
  text-align: center;
  color: black; }

.Grid-tienda {
  padding: 3rem 5rem 3rem 5rem;
  justify-content: center;
  width: 95vw;
  display: grid;
  grid-template: repeat(1, 70vh)/repeat(4, 20vh);
  column-gap: 10rem;
  row-gap: 0; }

.articuloVenta {
  border-top: 0;
  padding-top: 0;
  margin-top: 0;
  height: 25rem;
  width: 100%;
  border-radius: 5%; }

.CardArticulo:hover {
  box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.2);
  transform: translateY(-3%); }

.CardArticulo {
  background-color: white;
  height: 35rem;
  width: 20rem;
  display: grid;
  place-items: center;
  text-align: center;
  border-radius: 0; }

.boton-compra {
  text-decoration: none;
  color: black;
  border: 2px solid black;
  padding: 1rem; }

.boton-compra:hover {
  color: #F1F6F9;
  background-color: black; }

@media screen and (max-width: 550px) {
  .abrir-menu,
  .cerrar-menu {
    display: block;
    border: 0;
    font-size: 1.25rem;
    background-color: transparent;
    cursor: pointer; }
  .abrir-menu {
    color: #F1F6F9;
    width: 3rem; }
  .cerrar-menu {
    color: #F1F6F9; }
  .nav {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: solid #000 1px;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    background-color: #1c1c1c; }
  .nav.visible {
    opacity: 1;
    visibility: visible; }
  .nav-list {
    flex-direction: column;
    align-items: end; } }
