@media screen and (max-width: 1024px) {
/*Menu Hamburguesa*/
.abrir-menu,
.cerrar-menu{
    display: block;
    border: 0;
    font-size: 1.25rem;
    background-color: transparent;
    cursor: pointer;
}

.abrir-menu{
    color: $color-letras;
    width: 3rem;
}

.cerrar-menu{
    color: $color-letras;
}

.nav{
    opacity: 0;
    visibility: hidden;
    
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: solid #000 1px;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    background-color: #1c1c1c;

}

.nav.visible{
    opacity: 1;
    visibility: visible;
}

.nav-list{
    flex-direction: column;
    align-items: end;
}
/*Planes*/
.fondo-planes{
    background-image: url(../assets/fitnes/backgroundPhone.jpg);
}
.container-card{
    flex-direction: column;
    width: 100%;
    align-items: center;
    .card{
        height: 60vh;
    }
    .img-card{
        width: 70vw;
        height: 40vh;
    }
    }
/*Contactos*/
.fondo-contactos{
    background-image: url(../assets/fitnes/backgroundPhone.jpg);
    background-size:cover;
    height: 170vh;
}
.container-red{
    flex-direction: column;
    align-items: center;
    .card-red{
        display: flex;
        width: 40vw;
        height: 27vh;
    }

}
/* tienda*/
.fondo-grid{
    background-image: url(../assets/fitnes/backgroundPhone.jpg);
}
.Grid-tienda{
    column-gap: 8vw;
    font-size: 0.8rem;
}

}