@media screen and (max-width: 320px) {
/*General*/
*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: sans-serif ;
}

img{
    width: 10rem;
}
/*Header*/
header{
background-color: $color-header;
display: flex;
align-items: center;
justify-content: space-between;
padding-left: 1rem;
padding-right: 1rem;
padding-top: 0.3rem;
padding-bottom: 0.3rem;
font-size: 1rem;
}

.logo{
max-width: 3rem;
border-radius: 50%;
}

.nav-list{
list-style-type: none;
display: flex;
gap: 2rem;
}

.nav-list li a{
text-decoration: none;
color: $color-letras;
font-size: 1.5rem;
}
.nav-list li a:hover{
color: #635985;
}


.abrir-menu,
.cerrar-menu{
display: none;
}
/*Index*/
.hero {
background-image: url("../assets/risen-wang-20jX9b35r_M-unsplash.jpg");
background-size: cover;
background-position: center;
}
.hero {
height: 95vh;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
color: white;
font-size: 2em;
text-shadow: 1px 1px #000000;
}

.titulo {
text-align: center;
font-size: 2.5rem;
color: #333;
opacity: 0;
transform: translateY(50%);
transition: opacity 1s, transform 1s;
}
.titulo.active {
opacity: 1;
transform: translateY(0);
}

/*Footer*/
footer {
background-color: #222;
color: white;
padding: 20px 0;
}
.footer-container {
display: flex;
justify-content: space-between;
max-width: 360px;
margin: 0 auto;
}
.columna {
flex-basis: 30%;
text-align: center;
p{
    font-size: 0.9rem;
}
}
.columna h3 {
font-size: 1em;
margin-bottom: 1em;
}
.columna ul {
list-style: none;
margin: 0;
padding: 0;
}
.columna ul li {
margin-bottom: 0.5em;
}
.columna ul li a {
color: white;
text-decoration: none;
font-size: 0.8rem;
}

.logo-footer{
border-radius: 50%;
width: 3rem;
}
/*Sobre Nosotros*/
#gym-info {
background-image: url("../assets/background.png");
background-position: center;
background-size: cover;
height: 100vh;
padding: 0.1rem;
text-align: center;
color: $color-letras;
}

#gym-info h2 {
  font-size: 1.1em;
margin-bottom: 20px;
text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}

#gym-info p {
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 20px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
  padding-left: 1rem;
  padding-right: 1rem;
}

#gym-info ul {
list-style: none;
margin-bottom: 30px;
padding-left: 0;
}

#gym-info li {
font-size: 0.8em;
line-height: 1.5em;
margin-bottom: 10px;
}

#gym-info li:before {
  content: "✔ ";
  color: #22a6b3;
  font-size: 1.2em;
margin-right: 5px;
}

#gym-info p:last-child {
font-weight: bold;
font-size: 1.1em;
}


.instalaciones{
background-color:#222;
text-align: center;
align-content: center;
h2{
font-size: 1.5rem;
color: $color-letras;
background-color:#222;
}
}
/*Planes*/
.fondo-planes{
background-image: url("../assets/fitnes/background-phone.jpg");
background-position: center;
background-size: cover;
height: 100%;
padding: 5px;
text-align: center;
color: $color-letras;
}
.planes-ofertas{
text-align: center;
line-height: 2;
h2{
    font-size: 1.1rem;
}
p{
    font-size: 0.8rem;
}
padding: 2rem;
}
.container-card{
width: 100%;
display: flex;
flex-direction: column;
max-width: 99vw;
align-items: center;
padding: 1rem;
}

.card{
width: 70%;
height: 50vh;
margin: 20px;
border-radius: 6px;
overflow: hidden;
background-color: #fff;
box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
cursor: default;
transition: all 400ms ease;
}

.card:hover{
box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.2);
transform: translateY(-3%);
}
.img-card{
width: 13rem;
height: 8rem;
}
.container-card{
padding: 15px;
text-align: center;

p{
    line-height: 1.5;
    color: #6a6a6a;
    font-size: 0.8rem;
}
h3{
    font-weight: 400;
    margin-bottom: 15px;
    color: black;
}
a{
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    color: $color-footer;
    padding: 0.5rem;
    border: 1px solid $color-footer ;
    border-radius: 4px;
    transition: all 400ms ease;
    box-sizing:inherit;
}
a:hover{
    background-color: $color-header;
    color: #fff;
}

}
/*Contactanos*/
.fondo-contactos{
background-image: url("../assets/fitnes/background-phone.jpg");
background-position: center;
background-size: cover;
height: 100%;
padding: 5px;
text-align: center;
color: $color-letras;
}
.redes-sociales{
text-align: center;
line-height: 2;
h2{
    font-size: 1.5rem;
}
p{
    font-size: 1.1rem;
}
padding: 2rem;
}
.container-red{
width: 100%;
display: flex;
max-width: 99vw;
justify-content:space-evenly;
padding: 2rem;
display: flex;
flex-direction: column;
align-items: center;
}

.card-red{
width: 40vw;
height: 45vh;
margin: 20px;
border-radius: 6px;
background-color: $color-header;
box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
cursor: default;
transition: all 400ms ease;
}

.card-red:hover{
box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.2);
transform: translateY(-3%);
}
.img-red{
width: 100%;
height: 9rem;
}
.container-red{
padding: 15px;
text-align: center;

p{
    line-height: 1.5;
    color: #6a6a6a;
    font-size: 0.8rem;
}
h3{
    font-weight: 400;
    margin-bottom: 15px;
    color: $color-letras;
    font-size: 1.5rem;
}
a{
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    color: $color-letras;
    padding: 0.5rem;
    border: 1px solid $color-letras ;
    border-radius: 4px;
    transition: all 400ms ease;
    box-sizing:inherit;
}
a:hover{
    background-color: $color-letras;
    color: #000000;
}

}
/*Tienda*/
.fondo-grid{
background-image: url("../assets/fitnes/background-phone.jpg");
background-position: center;
background-size: cover;
height: 300vh;
width: 100%;
padding: 5px;
text-align: center;
color: black;
}
.Grid-tienda{
padding:0.5rem;
justify-content: center;
width: 99vw;
display: grid;
grid-template: repeat(4,70vh) / repeat(1,28vh);
column-gap: 1rem;
row-gap: 0;
}
.articuloVenta{
border-top:0 ;
padding-top: 0;
margin-top: 0;
height: 10rem;
width: 100%;
border-radius: 5%;

}
.CardArticulo:hover{
box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.2);
transform: translateY(-3%);
}
.CardArticulo{
background-color: $color-header;
height: 30rem;
width: 15rem;
display: grid;
place-items: center;
text-align: center;
border-radius: 0;
}
.boton-compra{
text-decoration: none;
color: $color-letras;
border: 2px solid $color-letras;
padding: 1rem;
}

.boton-compra:hover{
color: $color-letras;
background-color: black;
}
/*Menu Hamburguesa*/
.abrir-menu,
.cerrar-menu{
display: block;
border: 0;
font-size: 1.25rem;
background-color: transparent;
cursor: pointer;
}

.abrir-menu{
color: $color-letras;
width: 3rem;
}

.cerrar-menu{
color: $color-letras;
}

.nav{
opacity: 0;
visibility: hidden;

display: flex;
flex-direction: column;
align-items: end;
gap: 1rem;
position: absolute;
top: 0;
right: 0;
bottom: 0;
border: solid #000 1px;
padding: 2rem;
box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
background-color: #1c1c1c;

}

.nav.visible{
opacity: 1;
visibility: visible;
}

.nav-list{
flex-direction: column;
align-items: end;
}
}