@media screen and (max-width: 425px) {
/*Menu Hamburguesa*/
.abrir-menu,
.cerrar-menu{
    display: block;
    border: 0;
    font-size: 1.25rem;
    background-color: transparent;
    cursor: pointer;
}

.abrir-menu{
    color: $color-letras;
    width: 3rem;
}

.cerrar-menu{
    color: $color-letras;
}

.nav{
    opacity: 0;
    visibility: hidden;
    
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: solid #000 1px;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    background-color: #1c1c1c;

}

.nav.visible{
    opacity: 1;
    visibility: visible;
}

.nav-list{
    flex-direction: column;
    align-items: end;
}
/*index*/
.hero h1{
    font-size: 4rem;
}
footer{
    font-size: 1rem;
}
/*Sobre Nosotros*/
#gym-info{
    height: 100vh;
    padding: 0.5rem;
    h2{
        font-size: 1.5rem;
    }
    p{
        font-size: 1rem;
    }
    li{
        font-size: 1rem;
    }
}
.instalaciones{
    h2{
        font-size: 1.5rem;
    }
}
/*Planes*/

.container-card{
    .card{
        height: 45vh;
        width: 50vw;
        .img-card{
            width: 50vw;
            height: 20vh;
        }
    }
}
/*Contactanos*/
.redes-sociales{
    h2{
        font-size: 1.5rem;
    }
    p{
        font-size: 1rem;
    }
}
.container-red{
    .card-red{
        width: 70vw;
        height: 20vh;
        .img-red{
            height: 15vh;
        }
    }
}
/*Tienda*/
.fondo-grid{
    height: 300vh;
    background-image: url(../assets/fitnes/backgroundPhone.jpg);
    background-size:cover;
    .Grid-tienda{
    grid-template: repeat(4,70vh) / repeat(1,30vw);
    justify-items: center;
    padding: 2rem;
    .CardArticulo{
        width: 50vw;
        .articuloVenta{
            width: 50vw;
        }
    }
}
}
}