@media screen and (max-width: 768px) {
/*Menu Hamburguesa*/
.abrir-menu,
.cerrar-menu{
    display: block;
    border: 0;
    font-size: 1.25rem;
    background-color: transparent;
    cursor: pointer;
}

.abrir-menu{
    color: $color-letras;
    width: 3rem;
}

.cerrar-menu{
    color: $color-letras;
}

.nav{
    opacity: 0;
    visibility: hidden;
    
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: solid #000 1px;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    background-color: #1c1c1c;

}

.nav.visible{
    opacity: 1;
    visibility: visible;
}

.nav-list{
    flex-direction: column;
    align-items: end;
}
/*planes*/
.container-red{
    display: flex;
    flex-direction: column-reverse;
    .card{
        height: 30vh;
    }
}

/*contactanos*/
.container-red{
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.card-red{
    height: 45vh;
    width: 20vw;
    .img-red{
        width: 20vw;
    }
}
/* tienda*/
.Grid-tienda{
    column-gap: 4vw;
    font-size: 0.8rem;
    grid-template: repeat(2,70vh) / repeat(2,30vw);
    width: 100%;
    .CardArticulo{
        height: 60vh;
        width: 30vw ;}
    
}
.fondo-grid{
    height: 150vh;
    background-image: url(../assets/fitnes/backgroundPhone.jpg);
}

}