.fondo-grid{
    background-image: url("../assets/background.png");
    background-position: center;
    background-size: cover;
    height: 130vh;
    width: 100%;
    padding: 5px;
    text-align: center;
    color: $color-letras;
    align-content: center;
}
.Grid-tienda{
    padding:1rem;
    justify-content: center;
    width: 95vw;
    display: grid;
    grid-template: repeat(2,70vh) / repeat(2,20vh);
    column-gap: 15vw;
    row-gap: 0;
}
.articuloVenta{
    height: 30vh;
    width: 20vw;
    border-radius: 5%;
    
}
.CardArticulo:hover{
    box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.2);
    transform: translateY(-3%);
}
.CardArticulo{
    background-color: white;
    height: 50vh;
    width: 20vw;
    display: grid;
    place-items: center;
    text-align: center;
    border-radius: 0;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
    border-radius: 25px;
    h2{
        color: black;
    }
    p{color: #6a6a6a;
    }
}
.boton-compra{
    text-decoration: none;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    padding: 1rem;
}

.boton-compra:hover{
    color: $color-letras;
    background-color: black;
}